@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,600&display=swap');
.body-container {
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
    background: -webkit-radial-gradient(ellipse at bottom, #1b2735, #090a0f);
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .box {
    position: relative;
} */


/* .login-box {
    position: relative;
    width: 320px;
    min-height: 420px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 12px rgb(255, 255, 255, 0.50), inset 0 0 10px rgb(255, 255, 255, 0.50); */


/* border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); */


/* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    transition: 1s; */


/* box-sizing: border-box; */


/* color: rgb(0, 0, 0); */


/* } */


/* .login-content {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.login-content .login-header {
    color: darkgoldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 36%;
    top: 30px;
    text-align: -webkit-center;
    position: inherit;
    /* font-weight: 600; */
    letter-spacing: 1px;
    margin-bottom: 40px;
}


/* .login-content h2 {
    text-align: center;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
} */


/* .login-content h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background-color: #fff;
} */

.login-content p {
    color: antiquewhite;
    margin: 0;
    padding-left: 20px;
    font-weight: bold;
}

.login-content p a {
    color: rgb(0, 204, 255);
    text-decoration: none;
    /* margin: 0; */
    padding-left: 20px;
    font-weight: bold;
}

.login-content input {
    width: 100%;
    margin-top: 20px;
}

.login-content .inputBox input {
    width: 93%;
    /* /* background: rgb(150, 150, 150);  */
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 35px;
    /* /* border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);  */
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.514);
}

.login-content .inputBox input::placeholder {
    color: #fff;
    letter-spacing: 1px;
    margin-left: 50px;
}

.login-content .btn-login {
    background: #85879c;
    color: #0c0341;
    border-radius: 30px;
    max-width: 100px;
    font-weight: 600;
    left: 30%;
    cursor: pointer;
    /* align-items: center; */
    margin: 20px 0 20px 0;
    margin-left: 40%;
}


/* .login-content .btn-login {
    padding-left: 20px;
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(0, 151, 151);
    color: rgb(70, 70, 70);
    font-size: 18px;
    border-radius: 20px;
} */


/* .login-content .btn-login:hover {
    cursor: pointer !important;
    background-color: rgb(255, 208, 150);
    color: rgb(176, 176, 255);
} */

.login-box {
    position: relative;
    width: 320px;
    min-height: 420px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
}

.login-box .login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 12px rgb(255, 255, 255, 0.50);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
}

.login-box .signup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 12px rgb(255, 255, 255, 0.50);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
}

.login-box.hover .login-content {
    transform: rotateY(180deg);
}

.login-box .signup-content {
    transform: rotateY(180deg);
}

.login-box.hover .signup-content {
    transform: rotateY(360deg);
}

.login-box .signup-content .header {
    align-items: center;
}

.signup-content .signup-header {
    color: darkgoldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 36%;
    top: 30px;
    text-align: -webkit-center;
    position: inherit;
    /* font-weight: 600; */
    letter-spacing: 1px;
    margin-bottom: 30px;
}


/* .login-content h2 {
    text-align: center;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
} */


/* .login-content h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background-color: #fff;
} */

.signup-content p {
    color: antiquewhite;
    margin: 0;
    padding-left: 20px;
    /* font-weight: bold; */
}

.signup-content p a {
    margin: 0;
    padding: 0;
    color: rgb(0, 204, 255);
    text-decoration: none;
    /* margin: 0; */
    padding-left: 5px;
    /* font-weight: bold; */
}

.signup-content input {
    width: 100%;
    margin-top: 20px;
}

.signup-content .inputBox input {
    width: 75%;
    margin-left: 10%;
    /* /* background: rgb(150, 150, 150);  */
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 35px;
    /* /* border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);  */
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.514);
}

.signup-content .inputBox input::placeholder {
    color: #fff;
    letter-spacing: 1px;
    margin-left: 50px;
}

.signup-content .inputBox input::-webkit-outer-spin-button,
.signup-content .inputBox input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.signup-content .inputBox input[type=number] {
    -moz-appearance: textfield;
}

.signup-content .btn-signup {
    background: #181935;
    color: #25ff00;
    border-radius: 30px;
    max-width: 100px;
    font-weight: 600;
    /* left: 30%; */
    cursor: pointer;
    /* align-items: center; */
    margin: 20px 0 20px 0;
    margin-left: 40%;
}